<div id="<%= dom_id three_dimension %>">
  <p>
    <strong>Title:</strong>
    <%= three_dimension.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= three_dimension.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= three_dimension.thumbnail %>
  </p>

  <p>
    <strong>Schematic:</strong>
    <%= three_dimension.schematic %>
  </p>

  <p>
    <strong>Litematic:</strong>
    <%= three_dimension.litematic %>
  </p>

  <p>
    <strong>Nbt:</strong>
    <%= three_dimension.nbt %>
  </p>

  <p>
    <strong>Glb:</strong>
    <%= three_dimension.glb %>
  </p>

  <p>
    <strong>Obj:</strong>
    <%= three_dimension.obj %>
  </p>

  <p>
    <strong>Stl:</strong>
    <%= three_dimension.stl %>
  </p>

  <p>
    <strong>Fbx:</strong>
    <%= three_dimension.fbx %>
  </p>

  <p>
    <strong>Usd:</strong>
    <%= three_dimension.usd %>
  </p>

  <p>
    <strong>Draft mark:</strong>
    <%= three_dimension.draft_mark %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= three_dimension.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= three_dimension.user_id %>
  </p>

</div>
