<div class="text-center three vh-100">
  <%= render "layouts/header" %>

  <div class="container-full py-5 sticky-top">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Create', "/three", class: "text-light btn btn-sm rounded-5 px-4", style: "background: #177AFD" %>
        <%= link_to 'My Models', "/three/my_models", class: "text-light btn btn-sm rounded-5 px-4", style: "background: #222A34" %>
        <%= link_to 'Favorite', "/three/my_favorites", class: "text-light btn btn-sm rounded-5 px-4", style: "background: #222A34" %>
      </div>
    </div>
  </div>

  <div class="container-full px-1 px-sm-5">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
      <% 12.times do %>
        <div class="col cursor-pointer">
          <%= image_tag "three_placeholder_img.png", class: "img-fluid" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container fixed-bottom mb-5">
    <div class="row col-lg-6 mx-auto">
      <div class="input-group">
        <div class="input-group-text border-0 input_bg_color"><%= image_tag "create_logo.png" %></div>

        <div class="form-control p-0 position-relative border-0">
          <textarea class="border-0 m-0 text-light no_outline_border_shadow w-100 h-100 input_bg_color" placeholder="Please enter prompt..."></textarea>
        </div>

        <div class="input-group-text border-0 input_bg_color">
          <button class="border-0 p-0 rounded-1 me-2">
            <%= image_tag "create_img_btn.png", width: 36 %>
          </button>
          <button class="border-0 py-1 px-2 rounded-1 text-light btn_bg">Create</button>
        </div>
    
      </div>
    </div>
  </div>

</div>


<!-- <p style="color: green"><%= notice %></p>

<h1>Three dimensions</h1>

<div id="three_dimensions">
  <% @three_dimensions.each do |three_dimension| %>
    <%= render three_dimension %>
    <p>
      <%= link_to "Show this three dimension", three_dimension %>
    </p>
  <% end %>
</div>

<%= link_to "New three dimension", new_three_dimension_path %> -->
