<div class="text-center home vh-100">
  <%= render "layouts/header" %>
  <div class="d-flex align-items-between flex-column vstack">

    <div class=" mt-lg-5 mt-md-4 mt-sm-3 mt-2"><%= image_tag "zaat.png", class: "img-fluid" %></div>
    <div class="home_content d-flex justify-content-center mt-5">
      <div class="h1 w-75 my-0">Building multimodal Al to expand imagination and capabilities of Web3
        <%= Rails.application.credentials.dig(:mail, :user_name) %>
        <%= current_user %>
      </div>
    </div>

    <div class="position-relative  mt-lg-5 mt-md-4 mt-sm-3 mt-2">
      <%= image_tag "home_btn_bg.png", class: "img-fluid" %>
      <div class="position-absolute top-50 start-50 translate-middle d-flex justify-content-center w-100">
        <div class="position-relative">
          <%= image_tag "home_btn_left.png", class: "me-1" %>
          <div class="text-white position-absolute top-50 start-50 translate-middle d-flex flex-column  align-content-center">
            <div class="m-0 h3 fw-bold">Create</div>
            <div class="border-3 border-light"><hr class="my-2 border-3 border-light" /></div>
            <div class="fw-bold">3D model</div>
          </div>
        </div>
        <div class="position-relative">
          <%= image_tag "home_btn_right.png", class: "ms-1" %>
          <div class="text-white position-absolute top-50 start-50 translate-middle d-flex flex-column  align-content-center">
            <div class="m-0 h3 fw-bold">Earn</div>
            <div class="border-3 border-light"><hr class="my-2 border-3 border-light" /></div>
            <div class="fw-bold">Training</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= render "layouts/footer" %>
</div>