<div id="<%= dom_id order %>">
  <p>
    <strong>Amount:</strong>
    <%= order.amount %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= order.method %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
